@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Raleway", sans-serif;
    --fonte-terciaria: "Lexend", sans-serif;
    --fonte-quatrinário: "Roboto", sans-serif;

    --cor-preta: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #007011;
    border-bottom: 2px solid var(--cor-preta);
}

.Botao_cabecalho a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
}

.Botao_cabecalho a:hover {
    color: white;
}

.Botao_cabecalho {
    font-size: 1.25rem;
    gap: 2rem;
    padding: 1.5% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.banner {
    width: 100%;
    border-bottom: 5px solid var(--cor-preta);
}

.texto_corpo h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.texto_corpo {
    flex: 2;
    min-width: 300px;
    text-align: center;
}


.texto_subtitulo {
    padding: 1.25rem 0;
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 800px;
    margin: 0 auto;
}

.texto_jornalistico {
    text-align: left;
    padding: 0.625rem 0;
    color: rgb(75, 75, 75);
    font-size: 1.1875rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem;
    max-width: 1150px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: var(--fonte-terciaria);
}

.noticia {
    flex: 1;
    min-width: 300px;
    text-align: center;
    margin-top: 20px;
    padding: 0 10px;
}

.noticia h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.quadro-de-noticias {
    width: 100%; 
    max-width: 325px;
    height: auto; 
    background-color: #ffffff;
    border: 2px solid #c0c0c0;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
}

.noticia_fotos {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.itens_noticias {
    padding: 1.25rem;
    text-align: center;
    border-bottom: 2px solid #c0c0c0;
}

.itens_noticias h4 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.itens_noticias p {
    font-size: 1rem;
    color: rgb(75, 75, 75);
    margin-bottom: 0.5rem;
}

.itens_noticias a {
    color: #007011;
    text-decoration: none;
    font-weight: 600;
}

.itens_noticias a:hover {
    text-decoration: underline;
}